@model QFormEditParam

<div class="form-group">
    <label title="@Model.Tooltip" for="@Model.IdName">@Model.Label<span class="required-field">@(Model.ExtraAttributes.Contains("required")? "*" : "")</span></label>
    <div class="input-group date">        
        <input type="text" class="form-control datepicker" name="@Model.IdName" value="@Model.Value" placeholder="@Model.PlaceHolder" data-val="true" data-val-required="@Model.ErrorMsg" @(Model.ExtraAttributes) />
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
    </div>
    <span class="field-validation-valid text-danger" data-valmsg-for="@Model.IdName" data-valmsg-replace="true"></span>
</div>
