@model QFormEditParam

    <div class="form-group">
        <label title="@Model.Tooltip" for="@Model.IdName">@Model.Label<span class="required-field">@(Model.ExtraAttributes.Contains("required")? "*" : "")</span></label>
        <input type="@Model.Type" class="form-control" name="@Model.IdName" value="@Model.Value" placeholder="@Model.PlaceHolder" @(Model.ExtraAttributes)>
        <span class="field-validation-valid text-danger" data-valmsg-for="@Model.IdName" data-valmsg-replace="true"></span>
    </div>